html, body			{ width: calc(100% - 1rem);
				  margin: 0.5rem auto;
				  background-color: #4a4a4a;
				  position: relative;
				  color: #e8e8e8;
				  max-width: 1024px;
				  font-family: "Roboto", sans-serif;
				  line-height: 1.3em;
				  font-weight: 400;
				  font-size: 11.5pt;
				  font-style: normal; }
h1				{ font-size: 11.5pt;
				  color: #fff; }
body > header > div		{ display: flex;
				  gap: 0.5rem; }
body > header > div > h1	{ margin: 0; }
body > header a			{ color: #fff; }
.byline				{ font-size: 180%;
				  line-height: 1.2em;
				  color: #fff; }
.empty				{ opacity: 0.5; }
.fa.fa-exclamation-circle	{ color: red; }
#table				{ display: grid;
				  width: 100%;
				  background-color: #eee;
				  color: #2f2f2f;
				  margin: 1.4em 0;
				  box-shadow: 8px 8px 8px #000;
			  	  grid-template-columns: 1fr 1fr 1fr auto auto; }
#table-head,
#table-body,
.table-row			{ display: contents; }
#table-head .table-row > *	{ background-color: #fff;
				  cursor: pointer; }
.table-row > *			{ display: block;
				  padding: 0.5rem 1rem; }
.table-row > :first-child	{ padding-right: 0; }
#table-head			{ font-size: smaller;
				  color: #666;
				  font-weight: bolder; }
#table-head > .table-row > *	{ padding: 0.5rem 1rem;
				  text-decoration: underline; }
#table-body > .table-row:last-child > *
				{ padding-bottom: 1rem; }
#table-body .table-row:hover > *{ background-color: #fff; }
#table-body .opener .fa		{ color: blue;
				  cursor: pointer; }
dialog				{ max-height: calc(100vh - 4rem);
				  width: calc(100% - 2rem);
				  max-width: 768px;
				  margin-top: 1rem;
				  padding: 0;
				  position: relative; }
dialog::backdrop		{ background-color: rgb(0 0 0 / 80%); }
dialog > header			{ position: sticky;
				  top: 0;
				  background-color: #4a4a4a;
				  display: flex;
				  padding: 0.5rem;
				  flex-direction: column;
				  gap: 0.5rem;
				  color: #e8e8e8;
				  width: calc(100% - 1rem); }
dialog > header > div		{ display: flex;
				  align-items: center;
				  gap: 0.25rem; }
dialog > header > div > div	{ font-size: smaller;
				  flex: 1; }
dialog > header button		{ appearance: none;
				  border: 0;
				  background-color: transparent;
				  color: #fff; }
dialog > header label,
dialog > header a		{ color: #fff; }
dialog > header label		{ cursor: pointer;
				  background-color: rgb(255 255 255 / 5%);
				  transition: background-color 0.5s linear,
				  	text-decoration 0.5s linear;
				  padding: 0.25rem 0.5rem; }
dialog > header label:hover	{ background-color: rgb(255 255 255 / 10%); }
dialog pre			{ margin: 0;
				  font-size: smaller; }
dialog .code-views		{ display: none; }
#view-code:not(:checked) ~ #code-box,
#view-notes:not(:checked) ~ #code-notes,
#view-references:not(:checked) ~ #code-references
				{ display: none; }
#view-code:checked ~ header #code-box-label,
#view-notes:checked ~ header #code-notes-label,
#view-references:checked ~ header #code-references-label
				{ text-decoration: underline;
				  background-color: rgb(255 255 255 / 10%); }
#code-notes			{ padding: 1rem; }
#chart-box			{ display: flex;
				  gap: 0.5rem;
				  margin-left: 0;
				  margin-right: 0;
				  width: 100%; }
#chart-box > figcaption		{ width: 33%;
				  padding-top: 1.5rem;
				  line-height: 1.3em;
				  font-size: smaller;
				  max-width: 15rem; }
#chart-box > div		{ flex: 1; }
footer				{ font-size: smaller; }

@media (width < 1024px) {
  #chart-box			{ display: block; }
  #chart-box > figcaption	{ width: calc(100% - 2rem);
	  			  max-width: unset;
				  padding-left: 1rem;
				  padding-right: 1rem;
	  			  padding-top: 1rem; }
  #table			{ grid-template-columns: 1fr 1fr 1fr auto; }
  #table .table-row > *		{ overflow: hidden;
	  			  white-space: nowrap;
	  			  text-overflow: ellipsis; }
  #table .table-row > :nth-child(4)
  				{ display: none; }
}
